:root {
	--color-board: #d3f9d8;
	--color-boardCell: #37b24d;
	--color-highlight: darkgreen;
	--color-highlightMove: green;
	--color-highlightBuild: green;
	--s1: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :first-child {
	flex-basis: 0;
	flex-grow: 1;
}
  

.boardArea {
	max-width: 100%;
}

.game {
	padding: 1rem;
}

.game p {
	line-height: 2;
	max-width: 20ch;
}

.restartGame {
	font-weight: bold;
	border: 0;
	padding: .5rem 1rem;
	color: #efefef;
	border-radius: 5px;
	background: #1971c2;
}

.restartGame:hover {
	cursor: pointer;
}

#board {
	padding: 1rem 1rem 0 1rem;
	min-width: 250px;
	min-height: 250px;
	width: 100vw;
	height: 100vw;
	max-width: 500px;
	max-height: 500px;
}

#pieces {
	position: absolute;
}

.board-field {
	fill: var(--color-board);
}

.board-cell {
	fill: var(--color-boardCell);
	width: 19.5%;
	height: 19.5%;
}

.board-cell:hover, .board-cell:focus {
	fill: var(--color-highlight);
	cursor: pointer;
}

.board-highlight, .board-highlight:hover, .board-highlight:focus {
	pointer-events: none;
	fill: var(--color-highlight);
}

.board-piece, circle {
	pointer-events: none;
}

.board-piece {
	z-index: -2;
}

.highlightedMove {
	fill: var(--color-highlightMove);
	position: relative;
	z-index: 0;
}

.highlightedMove:before {
	content: "Ababweawe";
	color: black;
}

.highlightedBuild {
	fill: var(--color-highlightBuild);
}

[v-cloak] > * { display:none !important; }
[v-cloak]::before { content: ". . ."; }