#pieces {
	position: absolute;
}

.board-cell:hover, .board-cell:focus {
	fill: green;
}

circle {
	pointer-events: none;
}

[v-cloak] > * { display:none !important; }
[v-cloak]::before { content: ". . ."; }