:root {
	--color-board: transparent;
	--color-boardCell: #328700;
	--color-highlight: #379400;
	--color-highlightMove: #41b000;
	--color-highlightBuild: #41b000;

	--color-lightest: hsl(170, 60%, 96%);
	--color-light: hsl(173, 100%, 97%);
	--color-accent: hsl(188, 65%, 55%);
	--color-main: hsl(218, 61%, 50%);
	--color-dark: hsl(236, 52%, 51%);

	--color-boardPieceFirst:#d8e8e5;
	--color-boardPieceSecond:#a8b5b3;
	--color-boardPieceThird: #80868b;
	--color-boardPieceDome: var(--color-main);

	--color-playerOneWorker: #00b2f6;
	--color-playerTwoWorker: #c99d79;

	--color-text: hsl(236, 52%, 31%);

	--s1: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  	text-rendering: optimizeLegibility;
}

body {
	background: var(--color-lightest);
  	color: var(--color-text);
  	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  	line-height: 1.54;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

[v-cloak] > * { display:none !important; }
[v-cloak]::before { content: ". . ."; }

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :first-child {
	flex-basis: 0;
	flex-grow: 29;
}

h1 {
	color: var(--color-dark);
	text-align: center;
}

h1 a {
	color: inherit;
	display: block;
	text-decoration: none;
}

.game-setup, .game-offer {
	padding: 0 1rem;
	margin: 0 auto;
	max-width: 500px;
}

.game-create {
	display: block;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: bold;
	padding: 1rem 3rem;
	letter-spacing: 1px;
	background: var(--color-dark);
	color: hsla(0,0%, 100%, 0.86);
	border: 0;
	border-radius: 5px;
	margin: 1rem auto;
}

.game-create:hover {
	background: var(--color-main);
}

.game-hostOrClient p {
	text-align: center;
	margin-bottom: 1rem;
	font-weight: bold;
}

.game-invitationCode {
	display: block;
	font-size: 1rem;
	width: 24ch;
	border: 1px solid black;
	padding: .25rem;
	margin: 0 auto .25rem auto;
	resize:none;
}

.game-offer p {
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: .25rem;
}

.game-invitationLink {
	padding: .75rem .5rem;
	margin-bottom: .3rem;
	display: block;
	width: 100%;
	border: 0;
	border-radius: 5px;
	background: hsl(268deg, 89%, 8%);
	color: grey;
	font-size: .9rem;
}

.game-responseCode {
	padding: .75rem .5rem;
	font-size: .9rem;
	margin: 0 0 .3rem 0;
	display: block;
	font-family: inherit;
	width: 100%;
	border: 1px solid hsl(173, 10%, 90%);
	box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
	resize: none;
	color: var(--color-text);
}

.game-offer button:disabled {
	opacity: 0.5;
}

.game-offer button {
	display: block;
	width: 100%;
	color: var(--color-lightest);
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	margin: 0 auto 1rem auto;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: bold;
	padding: 1rem;
	letter-spacing: 1px;
	background: var(--color-dark);
}

.game-offer button:not(:disabled):hover {
	background: var(--color-main);
}

.boardArea {
	max-width: 100%;
}

.game {
	padding: 1rem 3rem;
}

.live-game > p {
	text-align: center;
}

#board {
	padding: 1rem 1rem 0 1rem;
	min-width: 250px;
	min-height: 250px;
	width: 100vw;
	height: 100vw;
	max-width: 500px;
	max-height: 500px;
}

#pieces {
	position: absolute;
}

.board-field {
	fill: var(--color-board);
}

.board-cell {
	fill: var(--color-boardCell);
	width: 19.5%;
	height: 19.5%;
}

.board-cell:hover, .board-cell:focus {
	fill: var(--color-highlight);
	cursor: pointer;
}

.board-highlight, .board-highlight:hover, .board-highlight:focus {
	pointer-events: none;
	fill: var(--color-highlight);
}

.board-piece, circle {
	pointer-events: none;
}

.board-piece {
	z-index: -2;
}

.board-piece-1 {
	fill: var(--color-boardPieceFirst);
}
.board-piece-2 {
	fill: var(--color-boardPieceSecond);
}
.board-piece-3 {
	fill: var(--color-boardPieceThird);
}
.board-piece-4 {
	fill: var(--color-boardPieceDome);
}

.board-letter {
	pointer-events: none;
	font-size: .75rem;
	transform: translateY(-5px);
	fill: hsla(0, 0%, 0%, 0.3);
}

.board-number {
	pointer-events: none;
	font-size: .75rem;
	fill: hsla(0, 0%, 0%, 0.3);
	transform: translateY(-10px);
}

.board-worker {
	fill: var(--color-playerOneWorker);
}

.board-worker-other {
	fill: var(--color-playerTwoWorker);	
}

.highlightedMove {
	fill: var(--color-highlightMove);
	position: relative;
	z-index: 0;
}

.highlightedMove:before {
	content: "Ababweawe";
	color: black;
}

.highlightedBuild {
	fill: var(--color-highlightBuild);
}

footer {
	margin: 25vh auto 0 auto;
	padding: 0 1rem 20vh 1rem;
	font-size: .85rem;
}

@media(min-width:1000px) {
	#board {
		float: right;
	}

	.game {
		padding: 0;
	}

	button {
		cursor: pointer;
		transition-property: all;
		transition-duration: .10s;
		transition-timing-function: ease-in-out;

	}

	button:not(:disabled):hover {
		transform: translateY(-2px);
	}

	button:disabled:hover {
		cursor: no-drop;
	}

	h1 {
		text-align: left;
	}

	h1 a {
		display: inline-block;
		padding: 0 1rem;
	}

	.board-letter, .board-number {
		transform: none;
		font-size: .9rem;
	}

	footer {
		text-align: center;
	}
}
