<!DOCTYPE html>
<html lang="en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Santorini</title>
	<meta name="description" content="">
	<meta name="author" content="Samuel Foster">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<main id="container" v-cloak>
		<section id="board">
		</section>
		<p v-if="gameWon > -1">{{ gameWon == 0 ? "First player wins!" : "Second player wins!" }}</p>
		<p v-else>{{ game.playerTurn == 0 ? "First player's turn." : "Second player's turn." }}</p>
		<section class="game">
			<ul>
				<li v-for="move in game.moves">{{ move.notatedMove }}{{ move.build == -1 ? "" : "   " + move.build }}</li>
			</ul>
		</section>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.13/svg.js"></script>
	<script src="game.js"></script>
	<script src="ui.js"></script>
</body>
</html>
